{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .header-container{
      width: 100%;
    }
    .table-right{
      padding: 10px;
      font-size: 16px;
      font-weight: 700;
    }
    .centered{
      text-align: center;
    }
    .noBorder{
      border:0;
    }
  </style>
</head>
<body>
  <table class="header-container" border="1">
    <tr>
        <td>
          <table>
            <tr>
              <td>
                <img src="DecorStore/static/admin/img/DecorStorelogo.png" alt=""/>
                <h2 class="header-title">
                  Glass Decor
                </h2>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
            <table class="table-right" border="1">
                <tr aria-rowspan="1">
                  <td class="centered">
                    Quotation
                  </td>
                </tr>
                <tr class="noBorder">
                  <td>
                    Customer:
                  </td>
                  <td>
                    Test
                  </td>
                </tr>
                <tr class="noBorder">
                  <td>
                    Customer:
                  </td>
                  <td>
                    Test
                  </td>
                </tr>
                <tr class="noBorder">
                  <td>
                    Customer:
                  </td>
                  <td>
                    Test
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>