.submit-row input {
	border: none;
	background: yellowgreen;
	color: white;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 1;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
	font-weight: bold;
}

fieldset.module {
	background: transparent;
}


.form-group.row.form-row {
	margin-bottom: 0;
}


.col-sm-10 a[id^="change_"],
.col-sm-10 a[id^="add_"] {
	display: inline-block;
	line-height: 1;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #aaa;
	margin: 0 0.25rem;
}


div#result_list_filter {
    display: none;
}

input.form-control.form-control-navbar {
	display: none;
}

button.btn.btn-navbar {
    display: none;
}

#changelist-filter ul > li > a {
	cursor: pointer;
}