.col-sm-10 > select:not(#id_discount_type),
.col-sm-10 > input {
	min-width: calc(100% - 15px - 10px);
}

label.field-ItemMasterId[for="ItemMasterId"],
label.field-ItemMasterid[for="ItemMasterid"]{
	display: none;
}

.field-ItemMasterId .related-widget-wrapper,
.field-ItemMasterid .related-widget-wrapper{
	min-width: 100%;
}


.inline-group .card-body {
	padding-bottom: 0.25rem;
    gap: 0!important;
}

div[id^="QuoteId-"] > h3, div[id^="QuoteId-"] > h3 *,
div[id^="Quote_id-"] > h3, div[id^="Quote_id-"] > h3 *,
div[id^="Quoteid-"] > h3, div[id^="Quoteid-"] > h3 *{
	font-size: 1rem;
}


.card.card-info {
	width: 100%;
}

.inline-group div.add-row, .inline-group .tabular tr.add-row td {
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
	border-radius: 5px;
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
	font-size: 1rem;
}

.select2-container {
    width: 178.771px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    width: 96px  !important;;
}

.select2-container--open .select2-dropdown--below {
    width: 243px !important;
}

.select2-search--dropdown {
    width: 243px  !important;
}

.select2-container--default .select2-results > .select2-results__options {
    width: 243px;
}

.select2-container--default .select2-dropdown.select2-dropdown--above {
    
    width: 243px !important;
}

input#id_discount {
    min-width: 70px;
	border-radius: 4px;
}

label.vCheckboxLabel {
	width: 16em;
}

label.col-sm-2.col-form-label {
	width: 8em;
}

.inline-group input[type=checkbox], input[type=radio] {
	vertical-align: -webkit-baseline-middle;
}

input[type = 'number'], select {
    height: 36px;
	/* width: 32px; */
}

input[type = 'number'], select, textarea {
    border: 1px solid #999!important;
    border-radius: 4px;
    padding-left: 9px;
}

input[type = 'number'], select, textarea, .select2-container--admin-autocomplete.select2-container {
    width: 50%!important;
    line-height: 30px;
    color: #444;
}


label[for="ItemMasterId"],
label[for="ItemMasterid"],
label[for="ItemMasterIdMisc"]{
	display: none;
}

.inline-group input[type = 'text'], select {
    margin-left: 8px;
}


input[id="remarks"]{
	margin-left: 10px !important;
}

/* input[type = 'number'], select, textarea, .select2-container--admin-autocomplete.select2-container{
    margin-left: 53px;
	width: 176px!important;
} */

textarea[id^=id_QuoteId-][id$=-remarks]{
	margin-left: 53px;
	width: 176px!important;
}

input#id_gst {
    min-width: 0px;
}

input#id_igst {
    min-width: 0px;
}

input#id_cgst {
    min-width: 0px;
}

input#id_diagramfile {
	min-width: 51px;
}

select#id_discount_type {
    border-radius: 4px;
    width: 20% !important;
}


div#QuoteId-group label label {
    font-size: 14px!important;
    white-space: nowrap;
    padding:  0;
    margin: 0.25rem 0;
}

.col-sm-10 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inline-group .card-body {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

div#QuoteId-group div input[type="checkbox"] {
    height: 18px;
    width: 18px;
}


div#QuoteId-group label.col-form-label {
    padding: 0;
}



.select2-container .select2-selection--single span {
    min-width: unset;
}


.select2-container--admin-autocomplete.select2-container {
    min-width: 175px;
}


.select2-container .select2-selection--single .select2-selection__rendered {
    width: auto!important;
}

.select2-container--default .select2-selection--single {
    padding-left: 0;
}

.form-group input {
	max-width: 250px;
	margin-left: 0!important;
}


label.col-sm-2.col-form-label {
    align-items: center;
    display: flex;
}

.card-body textarea {
    min-width: 240px;
    height: 60px;
}

input#id_choose_terms {
    min-width: 51px;
}

input[name="_continue"] {
    display: none;
}

input[name="_addanother"] {
    display: none;
}

input#id_choose_header {
    min-width: 51px;
}

h3.card-title {
    display: none;
}

/* .inline-group .card-header.bg-primary{
    display: grid;
    background-color: #fff!important;
} */

i.fas.fa-minus {
    color: black;
}

i.fas.fa-plus {
    color: black;
}

